.jumbotron {
    background-image: url("https://media.socialmedianerd.se/2017/08/oliver-thomas-klein-161835-1.jpg");
    background-size: cover;
    height: 250px;
}

.lead {
    color: white
}


.display-4 {
    font-weight: bolder;
    color: white;
}