.jumbotron {
    background-image: url("https://ak9.picdn.net/shutterstock/videos/18674369/thumb/1.jpg");
    background-size: cover;
    height: 250px;
}

.lead {
    color: white
}


.display-4 {
    font-weight: bolder;
    color: white;
}